#
# COPYRIGHT (C) 2019 GLOBALLOGIC INC
# ALL RIGHTS RESERVED
#

type ledcontrolservice, domain, halclientdomain;
app_domain(ledcontrolservice)

allow ledcontrolservice activity_service:service_manager find;
allow ledcontrolservice connectivity_service:service_manager find;
allow ledcontrolservice display_service:service_manager find;
allow ledcontrolservice network_management_service:service_manager find;
allow ledcontrolservice surfaceflinger_service:service_manager find;
allow ledcontrolservice audio_service:service_manager find;

allow ledcontrolservice app_data_file:dir { search };
allow ledcontrolservice ledcontrolservice_data:dir { search getattr write add_name create open read setattr };
allow ledcontrolservice ledcontrolservice_data:file { getattr write create open read setattr };

allow platform_app hal_ledcontrol_default:binder { call };
allow platform_app hal_ledcontrol_hwservice:hwservice_manager { find };
